extends layout

block content
    .container
        h3 今日pv数
            h4= pvToday
        h3 今日uv数
            h4= machineNum1
        h3 昨日pv数
            h4= pvYesterday
        h3 昨日uv数
            h4= machineNum2
        h3 前日pv数
            h4= pvBeforeYesterday
        h3 前日uv数
            h4= machineNum3
      